<div class="container page-container">
  <div class="row">
    <div class="col-lg-7 oh">
      <h1 class="page-title"> Your Submissions</h1>
      <div ng-if="forms.length == 0">
        <div class="empty forms-empty">
          <img src="assets/images/empty/no_forms_text.svg" alt="" class="empty-hint">
          <div class="empty-image">
            <img src="assets/images/empty/no_forms.svg" alt="" class="empty">
            <div class="empty-text">
              Your don't have any forms right now!
            </div>
          </div>
        </div>
      </div>
      <div ng-if="forms.length > 0">
        <table class="table table-wide">
          <thead>
            <tr>
              <th> # </th>
              <th> Certification Name </th>
              <th> Score </th>
              <th> Last activity </th>
              <th> Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="submission in submissions">
              <td> {{$index + 1}}</td>
              <td>
                <a ng-href="{{'/forms/'+ submission.form._id + '/' + submission._id}}">{{submission.form.name}}</a>
                <span class="text-info" ng-if="submission.status == 'Unpublished'">
                <em class="icon icon-pencil2"></em>
                </span>
              </td>
              <td>
                {{submission.points}}
              </td>
              <td> {{getFormatedDate(submission.updated)}}</td>
              <td><a href='' ng-click="removeResult(submission)" class="btn btn-xs"><em class="icon icon-remove"></em></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-5 oh">
      <h1 class="page-title"> Availbale Certification Programs </h1>
      <div ng-if="forms.length == 0">
        <div class="empty forms-empty">
          <img src="assets/images/empty/no_forms_text.svg" alt="" class="empty-hint">
          <div class="empty-image">
            <img src="assets/images/empty/no_forms.svg" alt="" class="empty">
            <div class="empty-text">
              Your don't have any forms right now!
            </div>
          </div>
        </div>
      </div>
      <div ng-if="forms.length > 0">
        <div class="item avil-certificate" ng-repeat="form in forms">
          <div class="item-media">
            <img ng-src="{{form.logo}}" alt="">
          </div>
          <div class="item-body">
            <h5>{{form.name}}</h5>
            <a ng-href="{{getFormLink(form)}}" class="btn btn-xs btn-default">Take this now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-include="'components/footer/footer.html'" ng-if="!isAdmin()"></div>
