<div class="row-fluid">
  <div ng-include="'components/sidebar/sidebar.html'"></div>
  <div class="col-lg-10 col-sm-10 main-content-wrap">
    <div class="main-content">
      <div class="row-fluid">
        <div class="form-meta-container">
          <div class="form-meta">
            <div class="col-lg-9 col-sm-9">
              <div class="form-title">
                <h1>{{form.name}}</h1>
              </div>
            </div>
            <div class="col-lg-3 col-sm-3">
              <div class="form-stats pull-right">
                <small class="text-muted">Your score</small>
                <br>
                <span class="points-gained">{{form.aquired_points}} </span> <span class="total-point">/ {{form.total_points}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="form-sections">
          <div class="col-lg-12 col-sm-12">
            <div class="form-show-container">
              <ul class="list-unstyled wiz">
                <li ng-repeat="section in form.sections" ng-click="toggleClass(section)" ng-class="{active: section.active}">
                  <span class="wiz-title">{{section.title}}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row-fluid">
        <div class="col-lg-12 col-sm-12">
          <div class="form-show-container">
            <div class="form-show">
            <div ng-repeat="section in form.sections" ng-if='section.active'>
              <form>
                <strong class="section-points">({{section.possible_points}} Possible Points, {{section.bonus_points}} Bonus)</strong>
                <div class="" ng-repeat="field in section.fields | orderBy:'sequence'">
                  <div>
                    <prev-element field="field" page="true" form="form" section="section"></prev-element>
                  </div>
                </div>
                <div class="row" ng-if="isAdmin()">
                <div class="pull-right">

                  <a class="btn  btn-warning" ng-href="{{getFormLink(form)}}" tooltip-append-to-body="true">&larr; Looks good take me back</a>
                  </div>

                </div>
                <div class="row" ng-if="!isAdmin()">

                  <div class="pull-right formsubmit-actions">

                    <last-save buttonEnabled="enableDraft" updated="form.updated"></last-save>
                    <div class="clearfix"></div>

                    <button class="btn btn-primary prev" ng-click="moveToPrevStep($index, section)" ng-if="$index != 0">  &larr; Previous step </button>

                    <button class="btn btn-primary next" ng-click="moveToNextStep($index, section)" ng-if="$index != form.sections.length - 1"> Next step &rarr; </button>

                    <a class="btn btn-info pull-right draft" ladda="formSaving" data-style="expand-left" tooltip="Last saved at {{form.updated}}" tooltip-append-to-body="true" ng-click="saveAsDraft($event)" ng-disabled="enableDraft">Save as draft</a>

                    <div ng-if="$index == form.sections.length - 1" style="margin-top: 40px;">
                    <small class="text-muted pull-right"> Once submitted cannot be edited!</small><br>
                     <button class="btn pull-right btn-success btn-lg" ladda="formSaving" data-style="expand-left" tooltip="Submit this form!" tooltip-append-to-body="true" ng-click="updateFormStatus($event)" type="submit">Submit</button>
                     </div>

                  </div>
                </div>
              </form>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
