<div class="row-fluid">
  <div ng-include="'components/sidebar/sidebar.html'"></div>
  <div class="col-lg-10 col-sm-10 main-content-wrap">
    <div class="main-content">
      <div class="row">
        <div class="col-lg-12 col-sm-12" ng-if="!certificate">
          <div ng-include="'app/controllers/formshow/no-certificate.html'"></div>
        </div>
        <div class="col-lg-12 col-sm-12" ng-if="certificate">
          <div ng-include="'app/controllers/formshow/yes-certificate.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
