@import "variables.less";
@import 'bootstrap/less/bootstrap.less';
@import 'font-awesome/less/font-awesome.less';


@icon-font-path: '/bower_components/bootstrap/fonts/';
@fa-font-path: '/bower_components/font-awesome/fonts';

/**
 * App-wide Styles
 */

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// injector
@import 'account/login/login.less';
@import 'common/animated.less';
@import 'common/header.less';
@import 'common/icons.less';
@import 'common/ladda.less';
@import 'common/nvd3.less';
@import 'common/select.less';
@import 'common/sweetalert.less';
@import 'common/utils.less';
@import 'controllers/admin/admin.less';
@import 'controllers/certificate/certificate.less';
@import 'controllers/create/create.less';
@import 'controllers/create/sidebar.less';
@import 'controllers/forms/forms.less';
@import 'controllers/formshow/formshow.less';
@import 'controllers/results/results.less';
@import 'directives/conditionSettings/conditionSettings.less';
@import 'directives/fieldElement/fieldElement.less';
@import 'directives/na/na.less';
@import 'directives/prevElement/prevElement.less';
@import 'directives/typeBadge/typeBadge.less';
@import 'variables.less';
@import 'footer/footer.less';
@import 'modal/modal.less';
// endinjector
