<div class="js_form_template" >
  <div ng-switch="field.type">
    <!-- Text input -->
    <div data-option="text" ng-switch-when="text">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-10">
        <input type="text" class="form-control dashed" />
        <br>
        <div>
          <condition-settings></condition-settings>
        </div>
      </div>
    </div>
    <!-- Text area  -->
    <div ng-switch-when="textarea" data-option="textarea">
      <div class="col-lg-1"> </div>
      <div class="col-lg-10">
        <textarea name="" id="" rows="2" class="dashed form-control vertical-resize span12"></textarea>
        <condition-settings></condition-settings>
      </div>
    </div>
    <!-- Select -->
    <div data-option="select" ng-switch-when="select">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-10">
        <div class="multipleOptions" ng-repeat="choice in field.choices">
          <span class="optionIndex">{{$index + 1}}. </span>
          <input type="text" values="option1" class="form-control" ng-model="choice.label" ng-focus="choice.focus">
          <input type="number" values="0" class="form-control pointsInput" ng-model="choice.points" min='0'>
          <div class="multipleOptionsActions">
            <a href="" class="js_clone_element btn btn-xs btn-info" href='' ng-click="addChoice(field)" tooltip="Add another option"> <em class="icon icon-plus muted"></em> </a>
            <span ng-if="field.choices.length > 1">
            <a href="" class="js_delete_element btn btn-xs btn-danger" href='' tooltip="Remove this option" tabindex='-1' ng-click="removeChoice(field, field.choices.indexOf(choice))"> <em class="icon icon-remove muted"></em> </a>
            </span>
          </div>
        </div>
        <condition-settings></condition-settings>
      </div>
    </div>
    <!-- Radio button -->
    <div data-option="radiobutton" ng-switch-when="radiobutton">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-10">
        <div class="multipleOptions" ng-repeat="choice in field.choices">
          <input name="optionsRadio" type="radio" id="option1" class="fakeRadioCheckbox"  tabindex="-1">
          <input type="text" values="option1" class="form-control" ng-model="choice.label" ng-focus="choice.focus">
          <input type="number" values="0" class="form-control pointsInput" ng-model="choice.points" min='0'>
          <div class="multipleOptionsActions">
            <a href="" class="js_clone_element btn btn-xs btn-info" href='' ng-click="addChoice(field)" tooltip="Add another option"> <em class="icon icon-plus muted"></em> </a>
            <span ng-if="field.choices.length > 1">
            <a href="" class="js_delete_element btn btn-xs btn-danger" href='' tooltip="Remove this option" tabindex='-1' ng-click="removeChoice(field, field.choices.indexOf(choice))"> <em class="icon icon-remove muted"></em> </a>
            </span>
            <span ng-if='choice.is_na'>
              <strong for="" class="badge badge-info"> NA </strong>
            </span>
          </div>
        </div>
        <div class="multipleOptions">
          <input type="checkbox" class="checkbox-small" name="hasNA" type="checkbox" id="addClarification" ng-model="field.has_na" ng-change="addNAChoice(field)">
          &nbsp;
          <label for="addClarification" class="smallText">Add NA choice</label>
        </div>
        <condition-settings></condition-settings>
      </div>
    </div>
    <!-- Checkboxes -->
    <div data-option="checkbox" ng-switch-when="checkbox">
      <div class="col-lg-1">
      </div>
      <div class="col-lg-10">
        <div class="multipleOptions" ng-repeat="choice in field.choices">
          <input name="optionsCheckboxes" type="checkBox" id="option1" class="fakeRadioCheckbox" tabindex="-1" >
          <input type="text" values="option1" class="form-control" ng-model="choice.label" ng-focus="choice.focus">
          <input type="number" values="0" class="form-control pointsInput" ng-model="choice.points" min='0'>
          <div class="multipleOptionsActions">
            <a href="" class="js_clone_element btn btn-xs btn-info" href='' ng-click="addChoice(field)" tooltip="Add another option"> <em class="icon icon-plus muted"></em> </a>
            <span ng-if="field.choices.length > 1">
            <a href="" class="js_delete_element btn btn-xs btn-danger" href='' tooltip="Remove this option" tabindex='-1' ng-click="removeChoice(field, field.choices.indexOf(choice))"> <em class="icon icon-remove muted"></em> </a>
            </span>
          </div>
        </div>
        <condition-settings></condition-settings>
      </div>
    </div>
  </div>
</div>
