<div class="col-lg-2 col-sm-2 sidebar-wrap">
  <div class="sidebar">
      <div class="sidebar-logo">
        <a href=""><img src="assets/images/green-logo.svg" alt=""></a>
      </div>
    <br>
    <ul class="sb-nav">
        <li ng-show="isAdmin()" ng-class="{active: isActive('/forms')}"><a href="/forms"><em class="icon icon-dashboard"></em> Dashboard</a></li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/certificates')}"><a href="/certificates"> <em class="icon  icon-trophy"></em>  Certificates</a></li>
        <li> <a href=""><em class="icon icon-chart"></em> Reports</a></li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin"><em class="icon icon-users2"></em>  Admin</a></li>
    </ul>

  </div>
</div>
