select.form-control {
  -webkit-appearance: none !important;
  border-radius: 0;
  background-color: #FAFAFA;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
  background-position: 100% center;
  background-repeat: no-repeat;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
  color: rgba(0, 0, 0, 0.75);
  line-height: normal;
  border-radius: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.08);
}

.vScroll {
  overflow-x: auto;
}

textarea {
  resize: both;
}

textarea.vert {
  resize: vertical;
}

textarea.horz {
  resize: horizontal;
}

textarea.noResize {
  resize: none;
}

input[type=checkbox],
input[type=radio] {
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background-position: 0 0
}

input[type=checkbox].small,
input[type=radio].small {
  width: 13px;
  height: 13px;
  line-height: 15px
}

input[type=checkbox]:active:not(:disabled),
input[type=radio]:active:not(:disabled) {
  background-position: left center
}

input[type=checkbox]:checked,
input[type=radio]:checked {
  background-position: left bottom
}

input[type=checkbox]:disabled,
input[type=radio]:disabled {
  opacity: .75
}

input[type=radio] {
  background-image: url(../assets/images/radio.svg);
  background-repeat: no-repeat;
  background-size: 18px
}

input[type=checkbox] {
  background-image: url(../assets/images/checkbox.svg);
  background-repeat: no-repeat;
  background-size: cover
}

.modal.modal-full {
  .modal-dialog {
    width: 700px;
  }
}

.modal-backdrop {
  bottom: 0;
}

.modal-header {
  padding: 0;
  background: #43434b;
  h3 {
    margin: 0;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 10px;
  }
}

