<div class="js_form_template formShow" ng-switch="field.type" ng-if="!field.has_condition || page != true">
  <div data-option="text" ng-switch-when="text">
    <div class="form-group">
      <type-badge></type-badge>
      <abbr title="Required" ng-if="field.required"> *</abbr>
    <!--   <strong class="text-muted">&mdash;  [{{field.choice[0].points || 0}} {{field.choice[0].points == 1 ? 'point' : 'points'}}]</strong> -->
      <input type="text" class="form-control" ng-model="field.response" id="{{field._id}}" required="{{field.required}}">
      <small class="help-block" ng-bind-html="field.help_text"></small>
    </div>
  </div>

  <div data-option="textarea" ng-switch-when="textarea">
    <div class="form-group">
      <type-badge></type-badge>
      <abbr title="Required" ng-if="field.required"> *</abbr>
      <!-- <strong class="text-muted">&mdash;  [{{field.choice[0].points || 0}} {{field.choice[0].points == 1 ? 'point' : 'points'}}]</strong> -->
      <textarea class="form-control" ng-model="field.response" id="{{field._id}}" required="{{field.required}}"></textarea>
      <small class="help-block" ng-bind-html="field.help_text"></small>
    </div>
  </div>

  <div data-option="select" ng-switch-when="select">
    <div class="form-group">
      <type-badge></type-badge>
      <abbr title="Required" ng-if="field.required"> *</abbr>
      <strong class="text-muted possible-points">[Points possible - {{field.possible_points}}]</strong>
      <select id="field._id" class="form-control" ng-model="field.response" ng-change="watchResponses(field, section)" required="{{field.required}}">
        <option value="">– Select one –</option>
        <option ng-repeat="choice in field.choices" value="{{choice._id}}" ng-selected="choice._id == field.response">
          {{choice.label}} &mdash; [{{choice.points}} {{choice.points == 1 ? 'point' : 'points'}}]
        </option>
      </select>
      <small class="help-block" ng-bind-html="field.help_text"></small>
    </div>
  </div>

  <div data-option="checkbox" ng-switch-when="checkbox">
    <div class="form-group">
      <type-badge></type-badge>
      <abbr title="Required" ng-if="field.required"> *</abbr>

      <strong class="text-muted possible-points">[Points possible - {{field.possible_points}}]</strong>

      <div class="inputLabel inline" ng-repeat="choice in field.choices">
        <div class="pull-left" pop-placement="right" pop="{{choice.help_text}}" pop-show="{{choice.selected === true && field.showing_popup}}">
          <input type="checkBox" ng-model="choice.selected" value="{{choice._id}}" id="{{choice._id}}" ng-change="watchResponses(field, section, choice)" required="{{field.required}}" />
          <label ng-bind-html="choice.label" for="{{choice._id}}"></label> <strong class="text-muted">&mdash;  [{{choice.points}} {{choice.points == 1 ? 'point' : 'points'}}]</strong>
        </div>
      </div>
      <div class="clearfix"></div>
      <small class="help-block" ng-bind-html="field.help_text"></small>
    </div>
  </div>

  <div data-option="radiobutton" ng-switch-when="radiobutton">
    <div class="form-group">
      <type-badge></type-badge>
      <abbr title="Required" ng-if="field.required"> *</abbr>
      <strong class="text-muted possible-points">[Points possible - {{field.possible_points}}]</strong>
      <div class="inputLabel inline" ng-repeat="choice in field.choices" >
        <div class="pull-left" pop-placement="right" pop="{{choice.help_text}}" pop-show="{{field.response === choice._id && field.showing_popup}}">
          <input type="radio" name="{{field._id}}" ng-model="field.response" value="{{choice._id}}" id="{{choice._id}}" ng-change="watchResponses(field, section, choice)" required="{{field.required}}" />
          <label ng-bind-html="choice.label" for="{{choice._id}}" ></label> <strong class="text-muted">&mdash;  [{{choice.points}} {{choice.points == 1 ? 'point' : 'points'}}]</strong>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
      <small class="help-block" ng-bind-html="field.help_text"></small>
    </div>
  </div>
</div>
