.middle-nav-container {
  min-height: 700px;
}

.responses-container {

}

.stuck {
  position: fixed;
  top: 0;
  background: #fff;
  width: inherit;
}

.response-section {
  margin-bottom: 30px;
  counter-reset: lal;
}

.response-field {
  margin: 15px 10px 30px;

  label {
    font-size: 16px;
    font-weight: normal;
    font-weight: 300;
    color: #666;
    margin-bottom: 6px;
    counter-increment: lal;
    &:before {
      content: counter(lal)". ";
    }
  }
}

.response-section-title {
  font-size: 22px;
  padding: 5px 10px;
  border-bottom: solid 1px #ddd;
}


.mid-nav {
  list-style-type: none;
  margin: 10px 0;
  padding: 0;
  > li {
    margin-bottom: 5px;
  }
  > li > a {
    text-align: right;
    display: block;
    padding: 8px 10px;
    color: #43434a;
    font-size: 16px;
    font-weight: 300;
    border-top: solid 1px transparent;
    border-bottom: solid 1px transparent;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
    &.active {
      border-top: solid 1px #ddd;
      border-bottom: solid 1px #ddd;
      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: -1px;
        bottom: -1px;
        width: 4px;
        background: @bluejeans-dark;
        z-index: 22;
      }
    }
    &:hover {
      border-top: solid 1px #ddd;
      border-bottom: solid 1px #ddd;
      text-decoration: none;
      transition: all 0.3s ease-in-out 0s;
    }
    &:active, &:focus {
      text-decoration: none;
    }
  }
}

.label-points {
  background: #f8f8f8;
  color: #333;
  font-weight: normal;
  font-size: 14px;
}
