<div class="field-condition">
  <div class="row field-condition-flag">
    <input type="checkbox" class="checkbox-small" name="addClarification" type="checkbox" id="addClarification" ng-model="field.has_condition">
    <label for="addClarification" class="smallText">Show this question on condition</label>
  </div>
  <div class="row field-condition-questions" ng-if='field.has_condition'>
    <div class="col-lg-7 col-sm-7">
      <div class="form-group">
        <label for="">Question</label>
        <!-- size as size.name for size in sizes -->
        <select name="" id="" class="form-control" style='max-width: 100%;' ng-options="item.label for item in availableFields" ng-model="selectedField" ng-change="field.condition.field = selectedField._id">
        </select>
      </div>
    </div>
    <div class="col-lg-5 col-sm-5" ng-if="selectedField.choices.length > 0">
      <label for="">Option</label>
        <ui-select multiple ng-model="field.condition.choice" theme="select2" style="width: 300px;">
          <ui-select-match placeholder="Select options...">{{$item.label}}</ui-select-match>
          <ui-select-choices repeat="opt._id as opt in selectedField.choices">
            {{opt.label}}
          </ui-select-choices>
        </ui-select>
<!--       <select name="" id="" class="form-control" ng-model="field.condition.choice" ng-change='watchOptionsChange(field, section)'>
        <option value=''>-- Select Option --</option>
        <option value="{{opt._id}}" ng-repeat="opt in selectedField.choices" ng-selected="opt._id == field.condition.choice">{{opt.label}} </option>
      </select> -->
    </div>
  </div>
</div>
