<div data-option="text" ng-switch-when="text">
  <div class="form-group">
    <label for="{{'form_'+form.id+'_field_'+field.id}}"><span ng-bind-html="field.label"></span></label>
    <abbr title="#{_('views.forms.create.required_field')}" ng-if="field.required"> *</abbr>
    <input type="email" class="form-control" ng-model="field.response" id="{{'form_'+form.id+'_field_'+field.id}}">
    <small class="help-block" ng-bind-html="field.help_text"></small>
  </div>
</div>




<!--   div.alert.alert-error.noMargin.smallText.error-block ng-if="field.validation.invalid && field.validation.message != null"
    span ng-bind-html="field.validation.message"
    a.close href='' ng-click="field.validation.invalid = false" == "&times;"
  div.alert.alert-error.smallText.error-block ng-if="field.validation.invalid && field.validation.message == null"
    = _('views.forms.create.required_field')
    a.close href='' ng-click="field.validation.invalid = false" == "&times;"
 -->
