<div class="col-lg-12 col-sm-12">
  <h4 class="g-c-section-heading">Form settings / Publishing</h4>
  <div class="from-settings">
    <div class="form-group">
      <label for="formDescription">Describe this form</label>
      <textarea name="formDescription" id="formDescription" cols="30" rows="3" class="form-control" ng-model="form.description"></textarea>
    </div>
    <div class="form-group">
      <label for="">Form logo</label>
      <input class="form-control" ng-model="form.logo">
      </label>
    </div>
    <div class="pull-right">
      <br>
      <last-save button-enabled="enableFormSaveButton" updated="from.updated"></last-save>
      <button class="btn btn-info pull-right" ng-click="submitForm(form)" ladda="formSaving" data-style="expand-left" ng-disabled="enableFormSaveButton">Save</button>
    </div>
    <div class="clearfix"></div>
    <br />
    <br />
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Certification logic</h3>
      </div>

      <div class="panel-body">


        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Min</th>
              <th>Max</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="certificate in form.certificates">
              <td>{{certificate.name}}</td>
              <td>{{certificate.min}}</td>
              <td>{{certificate.max}}</td>
            </tr>
          </tbody>
        </table>

        <button class="btn btn-info" ng-click="attachCertificate()"> + Add/Modify certificate</button>

        <br>
        <br>
        <div class="form-group">
          <label for="">Expires in</label>
          <div class="row">
              <div class="col-lg-3 col-sm-6">
                <input type="number" class="form-control" ng-model="form.expires_in.number">
              </div>
              <div class="col-lg-3 col-sm-4">
                <select name="" id="" class="form-control" ng-model="form.expires_in.unit">
                  <option value="years">Years</option>
                  <option value="months">Months</option>
                  <option value="days">Days</option>
                  <option value="hours">Hours</option>
                  <option value="minutes">Minutes</option>
                  <option value="seconds">Seconds</option>
                </select>
              </div>
            </div>
        </div>

        <label for="">When no certificate is awarded?</label>

        <ng-quill-editor ng-model="form.no_certificate" toolbar="true" link-tooltip="true" image-tooltip="true" toolbar-entries="bold list bullet italic underline strike link image" editor-required="true" required="" error-class="input-error"></ng-quill-editor>

        <div class="pull-right">
          <br>
          <last-save button-enabled="enableFormSaveButton" updated="from.updated"></last-save>
          <button class="btn btn-info pull-right" ng-click="submitForm(form)" ladda="formSaving" data-style="expand-left" ng-disabled="enableFormSaveButton">Save</button>
        </div>
      </div>
    </div>


    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">Publishing</h3>
      </div>
      <div class="panel-body">
        <div class="col-lg-9 col-sm-9">
          <div class="form-group">
            <label for="">Publish this from</label>
            <p class="help-text">Once you publish a form and if there is any response you cannot edit or make changes. Please be certain.</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-3">
          <button class="btn btn-success" tooltip-append-to-body="true" ng-click="publishForm()" tooltip="" ng-if="form.status == 'Unpublished'"><em class="icon icon-thumbs-up"></em> Publish this form</button>
          <button class="btn btn-warning btn-sm" tooltip-append-to-body="true" ng-click="unPublishForm()" tooltip="" ng-if="form.status == 'Published'"><em class="icon icon-thumbs-down"></em> Unpublish this form</button>
        </div>
      </div>
    </div>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">Dange zone</h3>
      </div>
      <div class="panel-body">
        <div class="col-lg-9 col-sm-9">
          <div class="form-group">
            <label for="">Delete this from</label>
            <p class="help-text">Once you delete a form, there is no going back. Please be certain.</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-3">
          <button class="btn btn-danger btn-sm" tooltip-append-to-body="true" tooltip="Remove this form! Can't be reverted!"><em class="icon icon-remove"></em> Remove this form</button>
        </div>
      </div>
    </div>
  </div>
</div>
