.page-title {
  margin: 0;
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: bold;
  color: @mint-dark;
  border-bottom: solid 1px #eee;
  padding: 0 0 8px;
}

.oh {
  overflow: hidden;
}

.forms-empty {
  position: relative;
  .empty-image {
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0 100px;
    text-align: center;
    img {
      height: 100px;
      margin: 10px 0;
    }
    .empty-text {
      color: #c0c0c0;
      font-size: 16px;
    }
  }
  img.empty-hint {
    height: 100px;
    position: absolute;
    top: -36px;
    left: 110px;
  }
}
