<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">

<div class="row">
  <div class="col-lg-12">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            #
          </th>
          <th> Certification Name </th>
          <th> Status </th>
          <th> Created by </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="form in forms">
          <td> {{$index}}</td>
          <td> <a href="/forms/edit/{{form._id}}">{{form.name}}</a></td>
          <td> {{form.status}}</td>
          <td> {{form.author.name}}</td>
          <td> <a href="" ng-click="removeForm(form)">Remove</a></td>
        </tr>
      </tbody>
    </table>


  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newform">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addform()">Add New</button>
      </span>
    </p>
  </form>


    <button class="btn btn-success"> Add new form </button>


  </div>
</div>



<!--   <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users">
        <strong>{{user.name}}</strong><br>
        <span class="text-muted">{{user.email}}</span>
        <a ng-click="delete(user)" class="trash"><span class="glyphicon glyphicon-trash pull-right"></span></a>
    </li>
  </ul> -->
</div>
